/* References used:
http://stackoverflow.com/questions/10099422/flushing-footer-to-bottom-of-the-page-twitter-bootstrap

*/

html, body {
	height: 100%;
}



#main_container {
	overflow:auto;
	padding-bottom: 180px;
	padding-top: 10%;
	padding-left: 5%;
	padding-right: 2%;
	text-align: center;
}

#top_nav {
	background-color: #01182D;
	color: white;
}

#bottom_nav>button {
	background-color: yellow;
}

#user_picture:hover {
    -webkit-filter: brightness(50%);

}

.footer {
	position: relative;
	margin-top: -150px;
	height: 150px;
	clear: both;
	padding-top: 20px;
}

.icon-blue {
	color: #598CBA;
}

#choice-button-no {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
    color: #FF0000;
}

#choice-button-yes{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
    color: #33CC33;

.css-center {
	display: inline-block;
    vertical-align: middle;
    float: none;